{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-navy fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/favicon.png'%}" alt="" width="40" height="24" class="d-inline-block align-text-top">
            Medicine Time
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'buyer' %}">Home</a>
                </li>
                
        </div>
       
    </div>
</nav>
<br>
<br>


                
            <br>
            <div class="box-element hidden" id="payment-info">
                <h5>Payment Options</h5>
                {% comment %} <button id="make-payment" class="btn btn-success ">Make Payment</button> {% endcomment %}
                
            </div>

        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}" style="border-radius:12px">&#x2190; Back to Cart</a>
                <hr>
                <h4>Order Summary</h4>
                <hr>
                {% for item in items%}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div style="flex:2">
                        <p>{{item.product.name}}</p>
                    </div>
                    <div style="flex:1">
                        <p>{{item.product.price}}</p>
                    </div>
                    <div style="flex:1">
                        <p>{{item.quantity}}</p>
                    </div>
                </div>
                {% endfor %}
                <h5>Items: {{order.get_cart_items}} </h5>
                <h5>Total: {{order.get_cart_total}} </h5>
                <a  class="btn btn-success" id="make-payment" href= "{% url 'payment' order.id %}"  style="border-radius:12px"> Confirm Order</a>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    var shipping = '{{order.shipping}}'
    var total = '{{order.get_cart_total}}'

    if (shipping == 'False') {
        document.getElementById('shipping-info').innerHTML = ''
    }

    if(user!='AnonymousUser'){
        document.getElementById('user-info').innerHTML = ''
    }
    if(shipping=='False' && user!='AnonymousUser'){
        document.getElementById('form-wrapper').innerHTML = ''
    }
    var form = document.getElementById('form')

    form.addEventListener('submit', function (e) {
        e.preventDefault()
        console.log('form submitted')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

    document.getElementById('make-payment').addEventListener('click',function(e){
            submitFormData()
    })
    function submitFormData() {
        console.log('payment data')
        var userFormData={
            'name': null,
            'email': null,
            'total': total,

        }
        var shippingFormData={
            'address': null,
            'city': null,
            'state': null,
            'zipcode': null,
        }
        if(user=='AnonymousUser'){
            userFormData.name=form.name.value
            userFormData.email=form.email.value
        }
        if(shipping=='True'){
            shippingFormData.address=form.address.value
            shippingFormData.city=form.city.value
            shippingFormData.state=form.state.value
            shippingFormData.zipcode=form.zipcode.value
        }

        var url = '/processorder/'
        fetch(url, {
            method: 'POST',
            body: JSON.stringify({
                'form': userFormData,
                'shipping': shippingFormData,
            }),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            }
        })
        .then((response)=> response.json())
        .then((data)=>{
            console.log('success',data)
            alert('Order Placed Successfully')
            window.location.href = "{% url 'buyer' %}"
        })
        
    }
</script>
{% endblock content%}
