{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-navy fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/favicon.png'%}" alt="" width="40" height="24" class="d-inline-block align-text-top">
            Medicine Time
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'buyer' %}">Home</a>
                </li>
                
        </div>
        <a class="btn btn-outline-light" href="{% url 'cart' %}" style="border-radius:12px;text-transform: none;">My Cart</a>
        &nbsp;
        
        &nbsp;
        
        <a class="btn btn-outline-light" href="{% url 'logout' %}" style="border-radius:12px;text-transform: none;">Logout</a>
        &nbsp;
    </div>
</nav>

<br>
<br>
<div class="container">
    <br>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>

                <button data-product={{product.id}} data-action="add"
                    class="btn btn-outline-secondary add-btn update-cart" style="border-radius:12px">Add to Cart</button>
                   <a class="btn btn-outline-success" href="{% url 'viewprod' product.id %}"  style="border-radius:12px">View</a>
                <h4 style="float:right">{{product.price}}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content%}
