{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<style>
    .bg-navy {
        background-color: navy;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-navy fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/favicon.png'%}" alt="" width="40" height="24" class="d-inline-block align-text-top">
            Medicine Time
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link disabled">Hello, {{request.user}}</a>
                </li>
            </ul>
        </div>
        <a class="btn btn-outline-light" href="{% url 'sellerhome' %}" style="border-radius:12px;text-transform: none;">Home</a>
        &nbsp;
        
        &nbsp;
        <a class="btn btn-outline-light" href="{% url 'selleraccount' %}"  style="border-radius:12px;text-transform: none;">My Account</a>
       
        &nbsp;
    </div>
</nav>
    </br>
    </br>
<div class="container">
    <br>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                

                
                   
                <h4 style="float:right">{{product.price}}</h4>
               <div class="btn-group">
                 
                  <td><a class="btn btn-sm btn-info" href = "{% url 'update_prod' product.id %}">Update</a></td>
                  <td><a class="btn btn-sm btn-success" href = "{% url 'sellerview' product.id %}">View</a></td>
                  <td><a class="btn btn-sm btn-danger" href = "{% url 'delete_prod' product.id %}">Delete</a></td>
                </div> 
            </div>
            
        </div>
        {% endfor %}
    </div>
</div>
 {% endblock content%}   
